<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BussimessTransaccionales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BussimessTransaccionales.Properties.Settings.Conectar"
      connectionString="Data Source=transaccionalesmysql.mysql.database.azure.com;UserID=usuario;Password=Transaccionales863;Database=Transaccionales;port:3306;" />
  </connectionStrings>
  <appSettings>
    <add key="Servidor" value="localhost:3306" />
    <add key="BD" value="Transaccionales" />
    <add key="Usuario" value="usuario" />
    <add key="Password" value="usuario" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <BussimessTransaccionales.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value>localhost:51198</value>
      </setting>
      <setting name="BD" serializeAs="String">
        <value>Transaccionales</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>Usuario</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Usuario</value>
      </setting>
    </BussimessTransaccionales.Properties.Settings>
  </applicationSettings>
</configuration>